#logo {
  height: 150px;
}
nav {
  display: inline-block;
    vertical-align: top;

}
nav ul{

  display: inline-block;
}

nav li {
  display: inline-block;
  margin: 0 20px 0 40px;
}
