header
{background:#111111;
padding:50px 0;
}

.caixa {
  position: relative;
  width:1300px;
  margin: 0 auto;
}

nav
{position:absolute;
top:1px;
right:0}

nav li
{display: inline;
margin: 0 0 0 20px}

nav a
{ text-transform:uppercase;
color:white;
font-weight:bold;
font-size: 22px;
text-decoration: none}

nav a:hover {
color: red;
#text-decoration: underline;#
}

.logosecundario
{text-align: center;
width:100%}

.subtitulo
{text-align:center;
padding: 50px;
font-size:35px;
#font-family: arial#}

.imageminterestelar 
{width:20%;
margin: 0 0 0 370px;
box-sizing: border-box;
border-width: 3px;
border-style:ridge;
border-radius: 10px
}

.imageminterestelar:hover
{
color: red; 
box-sizing: border-box;
border-width: 3px;
border-style:solid;
border-radius: 10px  
}

.interestelar 
{ display:inline-block;
vertical-align:top;
padding:10px 10px;
  
}

.imageminterestelar:hover
{width:21%}

.itens
{text-align: left;
font-size: 30px}

p{
text-align:justify;
font-size: 30px;
margin-left: 150px;
margin-right:150px;
border-width: 3px;
border-style:solid;
border-radius: 10px;
padding:20px 20px
}

.trailer {
text-align: center;
padding:2px}

footer {
text-align: center;
background: url("https://st4.depositphotos.com/2126555/19839/i/450/depositphotos_198394100-stock-photo-close-up-of-texture-fabric.jpg ");
padding: 40px 0;
}

.copyright {
text-align:center;
color: #FFFFFF;
font-size: 15px;
 margin: 10px 0 0}
  
