#logo {
  height: 150px;
}
nav {
  display: inline-block;
    vertical-align: top;

}
nav ul{

  display: inline-block;
}

nav li {
  display: inline-block;
  margin: 0 20px 0 40px;
}

.filme-descricao {
  display: inline-block;
}

.filme-descricao p {
  display: inline-block;
}
.capa {
  display: inline-block;
  height: 520px;
}

.filme_item {
  display:inline-block;
  vertical-align: top;
  border: 8px;
  border-style: ridge;
  padding: 10px;
  border-radius: 15px;
}

.filme_item h2{
  text-align: center;
  color: #dd154e;
}

.filme_item p{
  text-align: center;
}

#capa_system_crasher {
  height : 450px;
}